
/* General Settings */
* {
    font-family: roboto; 
}

body {
    margin: 0px;
}

/* div {
    border: 2px solid red;
}
*/

/* Header: */
/* ** Header General */
.header {
    display: flex;
    background-color: #1F2937;
    height: 20%;
}


/* ** Logo settings */
.logo-cont {
    display: flex;
    flex: 1;
    margin-left: 10%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}


/* ** Button Settings */
.btn-cont {
    display: flex;
    font-size: 18px;
    flex: 1;
    align-items: center;
    flex-direction: row-reverse;
}

.head-btn {
    color: #e5e7eb;
    margin-right: 30px;
}

.head-btn1 {
    order: 3;
}

.head-btn2 {
    order: 2;
}

.head-btn3 {
    order: 1;
    margin-right: 10%;
}

a:link, a:visited {
    text-decoration: none;
}